# =========================
# PYTHON
# =========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# VENV
# =========================

venv/
.env/

# =========================
# ENV FILES
# =========================

.env
.env.*

!.env.example

# =========================
# LOGS
# =========================

*.log

# =========================
# TESTS / COVERAGE
# =========================

.pytest_cache/
.coverage
htmlcov/

# =========================
# BUILD
# =========================

build/
dist/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# WINDOWS
# =========================

Thumbs.db

# =========================
# MAC
# =========================

.DS_Store